* {
	box-sizing: border-box;
}
body {
	background-color: #1c1b21;
	color: white;
	font-size: 55px;
	font-family: Fira Sans;
}

.container {
	border: 10px solid #6c38cc;
	display: flex;
}

.item {
	background-color: #232228;
	border: 1px solid #6c38cc;
	text-align: center;
	padding: 10px;
	flex-basis: 300px;
	flex-grow: 1;
}

.item1 {
	flex: 1 1 300px;
}

.item2 {
	flex: 5 0 100px;
}
