/*
Б - Блок(class)
Э - Элемент
М - модификатор блока
*/

:root {
	--color-primary: #6c38cc;
	--space-10: 10px;
}

html {
	--color-primary: green;
}

body {
	background: #16171d;
}

.button {
	padding: 16px 32px;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	border-radius: 10px;
	background: none;
	border: none;
	margin-bottom: var(--space-10);
}

.button_primary {
	background: var(--color-primary, red);
	/* background: #6c38cc; */
	color: white;
}

.button_ghost {
	border: 1px solid #4d5064;
	color: white;
}

.hero__button {
	margin-top: 32px;
}
