*::selection {
	background-color: #ffe100;
}

#heroButton {
	background-color: #4262ff;
	color: #ffffff;
}

#heroButton:hover {
	background-color: #122db6;
}

#heroButton:active {
	background-color: #ff0000;
}

.heroForm input:focus {
	background-color: #7ab6ea;
}

a::before {
	color: red;
	content: '!';
}

a::after {
	color: red;
	content: '!';
}

ul li:nth-last-child(1) {
	color: #b61212;
}

p:not(.sectionText) {
	color: #ff0000;
}

.link {
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	text-decoration: underline;

	color: #4262ff;
}

.link:hover {
	color: #ffe100;
}

h1,
h2 {
	font-family: Roboto;
	font-weight: 400;
	font-size: 48px;
	line-height: 56px;

	color: #050038;
}

p {
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.heroText {
	color: #050038;
}

.sectionText {
	color: #05003899;
}

header a {
	font-family: Roboto;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;

	color: #050038;
}

.heroForm + p {
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;

	color: #050038;
}
